@charset "utf-8";

/* 기본 버튼 스타일 */
.btn {
    appearance: none;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* 기본 버튼 색상 */
.btn.white {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.btn.black {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}



/* 여기서부터 커스텀 버튼 */
.delete_button {
    width: 90px;
    height: 35px;
    border: 1px solid #131313;
    font-size: 16px;
    cursor: pointer;
}

/* 반응형 추가 */
@media screen and (max-width: 1024px) {
  .btn {
    width: 70px;
    height: 30px;
    font-size: 12px;
  }

  .delete_button {
    width: 60px;
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .delete_button {
    width: 50px;
    height: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 50px;
    height: 25px;
    font-size: 10px;
  }

  .delete_button {
    width: 45px;
    height: 20px;
    font-size: 10px;
  }
}
