/* 게시글 컨테이너 */
.post-container {
  width: 100%;
  max-width: 1000px;
  margin: 150px auto 0 auto;
}



/* 게시글 상단 */
.post-container a .mbti {
  font-size: 18px;
  font-weight: bold;
}

.post-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #000;
  align-items: center;
}

.post-info{
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-info .title{
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

.post-info .post-date{
  font-size: 12px;
  opacity: 0.6;
}

.post-info .post-views{
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
}

.post-info .post-views img{
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
}

.post-date {
  margin-left: 10px;
}

.post-views {
  margin-left: 10px;
}

.post-writer {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.post-writer img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 12px;
}




/* 게시글 본문 */
.post-content {
  width: 1000px;
  min-height: 400px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.post-content p{
  margin-top: 16px;
  margin-left: 16px;
}

.post-content .post-delete-btn{
  position: relative;
  top: 330px;
  left: 900px;
}



/* 버튼 */
.post-actions {
  margin-top: 10px;
  text-align: right;
}

.like_btn {
  margin-right: 16px;
}

.like_btn:hover{
  background-color: #ffd4a4;
}

.report_btn:hover{
  background-color: #f0f0f0;
}



/* 댓글 작성 */
.comment-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

textarea {
  width: 90%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #9B9B9B;
  font-size: 14px;
  resize: none;
}

.comment-submit-btn {
  width: 8%;
  height: 52px;
  margin: 10px 0 10xp 0;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.comment-submit-btn:hover {
  background-color: #3b3b3b;
}



/* 댓글 영역 */
.comments-section {
  margin-top: 40px;
  padding-left: 10px;
}

.comment {
  margin-bottom: 10px;
  border-bottom: 1px solid #cacaca;
}

.comment p{
  margin-bottom: 16px;
  padding-left: 8px;
}

.comment-author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 8px;
}

.comment-author img{
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 10px;
}

.comment-author .comment-writer {
  font-weight: bold;
  font-size: 16px;
}

.comment-author .comment-date {
  margin-left: 30px;
  font-size: 14px;
  color: #777;
  opacity: 0.6;
}

.delete_btn{
  appearance: none;
  border: none;
  cursor: pointer;
}