@charset "utf-8";

.login-container {
  text-align: center;
}

.login-fieldset {
  width: 600px;
  margin: auto;
  border-radius: 100px;
  padding: 100px;
  border: 2px solid #6a6a6a;
}

.login-legend {
  text-align: center;
}

.login-table {
  padding: 5px;
  display: flex;         /* 가로 배치 */
  align-items: center;   /* 수직 가운데 정렬 */
  gap: 15px;
}

.login-table td {
  padding: 5px;
  display: flex;         /* 가로 배치 */
  align-items: center;   /* 수직 가운데 정렬 */
  gap: 15px;
}

.login-input {
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 10px 15px;
  width: 400px;
  box-sizing: border-box;
  font-size: 20px;
}

.login-button {
  border-radius: 40px;
  padding: 15px 50px;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.signin-button {
  border-radius: 40px;
  padding: 15px 50px;
  border: 2px solid #000000;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 20px;
}