@charset "utf-8";

.signup-container {
  text-align: center;
}

.signup-fieldset {
  width: 1000px;
  margin: auto;
  border-radius: 100px;
  padding: 100px;
  border: 2px solid #6a6a6a;
}

.signup-legend {
  text-align: center;
}

.signup-table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.signup-table td {
  padding: 5px;
  display: flex;         /* 가로 배치 */
  align-items: center;   /* 수직 가운데 정렬 */
  gap: 15px;
}

.signup-input {
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 10px 15px;
  width: 90%;
  box-sizing: border-box;
  font-size: 20px;
}

.signup-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.signup-radio:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;       /* 점 색상 */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확히 중앙 */
}

.signup-submit {
  border-radius: 40px;
  padding: 15px 50px;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.signup-duplicate-btn {
  padding: 10px 15px;
  border: 2px solid #888;
  border-radius: 20px;
  background-color: #eee;
  cursor: pointer;
  white-space: nowrap; /* 줄바꿈 방지 */
  font-size: 15px;
}
